body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}
.app {
  text-align: center;
}

.lobby {
  text-align: center;
  cursor: pointer;
}

#leaveRoom {
  cursor: pointer;
}
